<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Search</title>
  <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <!-- <a href="/">Home Page</a> -->
    <a href="/movies">Horror Movies</a>
    <a href="/results">Movie Search Results</a>
  </nav>

    <h1>Horror Movie Central</h3>
    <!-- Our generic content goes here -->

    <hr>
    <hr>
    <%= yield %>
    <!-- everythign with erb will be placed where 'yield' is >> Our specific/dynamic content goes here -->
    <hr>
    <hr>

  <footer>
    <p>Copyright reserved: 1985 Freddy Krueger Inc</p>
  </footer>


</body>
</html>
