<h3>Horrorpedia</h3>

<form action="/results" method="GET">
<!-- ACTION IS WHERE YOU WILL SEND THE RESULTS TO -->

<p>
  <label>What's your favorite horror movie?</label>
  <input type="text" name="movie" placeholder="Movie title">
  <!-- I am interested in wahtever is typed here -->
  <!-- params = {"first_num" => "34" } -->
</p>
<!-- <p>
  <label>What's your favorite horror actor:</label>
  <input type="text" name="actor" placeholder="Movie actor">
</p> -->
  <input type="submit" value="Search for horror">

</form>
